h1{
    text-align: center;
}

body{
    background-color: coral;
}

div.bit{
  text-align: end;
}

div.eth{
    background-color: aliceblue;
    position: relative 
}

p{
    background-color: yellow;
    text-align: center;
}

input.color{
    color: red;
}