h1{
    text-align: center;
}

body{
    background-color: coral;
}

div.bit{
  text-align: end;
      /* Aqui iria un position reletive pero no recuerdo como se hacia */

}

div.eth{
    background-color: aliceblue;
    text-align: center;
    /* Aqui iria un position reletive pero no recuerdo como se hacia */
}

p{
    background-color: yellow;
    text-align: center;
}

a.color{
    color: red;
}